body {
	font-family: 'DM Sans', sans-serif;
	font-size: 20px;
	margin :0;
}

.maincolor {
  background-color: #09b9ae
}

.secondcolor {
  background-color: #09b9ae
}

.thirdcolor {
  background-color: #09b9ae
}

.text {
  color: #1c3144
}

#09b9ae
#1c3144
#fafafa